.book {
  font-family: Verdana;
  background-color: black;
  color: white;
  padding: 20px;
}

.book th {
  vertical-align:top;
  padding: 0 10px 0 0;
}

.book td {
  padding: 0 0 0 0;
  vertical-align:top;
}

.title {
  text-align: center;
}

body {
  font-family: Verdana;
  margin: auto;
}

.book img {
  border: 2px solid black;
  height: 200px;
  width: auto;
}

.book table {
  width: 80%;
}

.add-btn {
  transition-duration: 0.3s;
  width: clamp(100px, 50%, 250px);
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  border-radius: 20px;
  border: none;
  font-size: clamp(8px, 4vw, 15px);
}

.add-btn:hover {
  background-color: #31b060;
  color: white;
  cursor: pointer;
}

.book td {
  font-size: clamp(8px, 4vw, 15px);
}

.recomm table {
  transition-duration: 0.4s;
  font-family: Verdana;
  width: clamp(300px, 50%, 800px);
  border: 2px solid black;
  margin: 20px;
  cursor: pointer;
  animation-name: expand;
  animation-duration: 2s;
}

.recomm img {
  float: left;
  height: clamp(100px, 10vw, 200px);
  width: auto;
  margin: -3px;
}

.recomm th {
  width: 40%;
}

h1 {
  font-size: clamp(8px, 8vw, 30px);
}

.recomm h2 {
  font-size: clamp(14px, 2vw, 30px);
}

.author {
  font-size: clamp(12px, 1.5vw, 18px);
}